/* 최상위 요소 높이 설정 */
html, body, #root {
  height: 100%; /* 전체 화면 사용 */
  margin: 0;
  padding: 0;
}

/* App 컴포넌트의 최상위 컨테이너 */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 부모 높이 100% 채움 */
}

.main-container {
  display: flex;
  height: 100vh;
}

.left-pane {
  flex: 1;
  border-right: 1px solid #ddd;
}

.right-pane {
  flex: 3;
}
